body{
    background-color:aliceblue;
}

h1{
    color:orange;
}
.clicked{
    color: blue;
}

.resize{
    background-color:yellowgreen;
}

.active{
    color: tomato;
}

.hidden{
    display:none;
}

img{
    background-repeat:no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
}